body 
{
    font-family: Verdana,Tahoma,Arial,sans-serif;
    font-size: 12px;
}
#container
{
    width: 80%;
    padding: 30px;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
    border-right-color: #01f614;
    border-left-color: #01f614;
    border-bottom-color: #01f614;
    border-top-color: #01f614;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    text-align: left;
    vertical-align: bottom;
}

#tabnav
{
    height:20px;
    margin-left:auto;
    margin-right:auto;
    padding-left:10px;
    border-bottom:1px solid #ccc;

}

#tabnav li
{
    margin: 0;
    padding: 0;
    display: inline;
    list-style-type: none;
}

#tabnav a:link, #tabnav a:visited
{
    float:left;
    background: #f3f3f3;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    padding: 2px 10px 2px 10px;
    margin-right: 4px;
    border: 1px solid #ccc;
    border-bottom: 1px solid #f3f3f3;
    text-decoration: none;
    color: rgb(72,118,255);
}

#tabnav a:link.active, #tabnav a:visited.active
{
    border-bottom: 1px solid #fff;
    background: #fff;
    color: rgb(72,118,255);
}

#tabnav a:link.blue, #tabnav a:visited.blue 
{
    border-bottom: 1px solid #f3f3f3;
    color: rgb(72,118,255);
}
#tabnav a:hover
{
    background: #fff;
}	

